body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
    color: #333;
  }
  header h1{
    text-align: center;    
  }
  header .introduction{
    text-align: left;
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
    margin-top: 10px;
    color: #d9534f;
    font-weight: bold;
    
  }
  h1 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #d9534f;
  }

  p {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    font-size: 1.2rem;
  }

  .tab-content {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .tab-content.active {
    display: block;
  }

  .setup-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .equipment-parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
  }

  .equipment-parts > .equipment-part:first-child {
    grid-column: 1 / 3;
    justify-self: start;
    width: 49%;
  }

  .equipment-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #555;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .equipment-part.selected {
    background-color: #00aaff;
  }

  .equipment-part img {
    max-width: 100%;
    max-height: 100%;
  }

  .selected-part {
    color: #ff6600;
    text-align: center;
  }

  .selected-part span.part-name {
    display: block;
    font-weight: bold;
  }

  .checkbox-list {
    list-style: none;
    padding: 0;
  }

  .checkbox-list-item {
    border: dashed;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }

  .suit-effect-content{
    width: 300px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .d-block {
    margin: 10px;
  }

  .equipment-selection,
  .ice-options,
  .suit-effects,
  .final-values {
    padding: 15px;
    overflow-y: auto;
    max-height: 1200px;
  }

  label {
    font-size: 1.1rem;
  }

  .checkbox-list label {
    display: block;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .equipment-selection h3,
  .ice-options h3,
  .suit-effects h3,
  .final-values h3 {
    font-size: 24px;
    font-weight: bold;
    color: #337ab7;
    margin-bottom: 10px;
  }

  .table th,
  .table td {
    text-align: center;
  }

  .btn-primary {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
  }

  .btn-primary:hover {
    background-color: #216dbb;
    border-color: #216dbb;
  }

  .btn-secondary {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
  }

  .btn-secondary:hover {
    background-color: #e67e22;
    border-color: #e67e22;
  }

  .btn-secondary-outline {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #ffffff;
  }

  .btn-secondary-outline:hover {
      background-color: #5a6268;
      border-color: #5a6268;
      color: #ffffff;
  }

  #availableEquipmentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  #availableEquipmentHeader h3 {
    font-weight: bold;
    color: #337ab7;
    margin: 0;
  }

  #availableEquipmentHeader .button-group {
    display: flex;
    gap: 10px;
  }
  #pagination .btn {
    background-color: transparent;
    border: 1px solid #ced4da;
    color: #333;
    margin: 0 5px;
  }

  #pagination .btn.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  #importTab .import-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
  }

  .toggle-switch .form-check-input {
    transform: scale(1.5);
  }

  .toggle-switch .form-check-label {
    color: #2980b9;
  }

  .selected-suit-part-1 {
    background-color: #e6f0e6;
    color: #336633;
  }

  .selected-suit-part-2 {
    background-color: #fff5cc;
    color: #663300;
  }

  .selected-suit-part-3 {
    background-color: #e3f8fd;
    color: #1a237e;
  }

  #finalValueTable th {
    background-color: #b4cff8;
  }
